<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>JagdeepSMatharu - GIT Tutorial</title>
        <!-- Bootstrap Core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="css/clean-blog.min.css" rel="stylesheet">
        <!-- Custom Fonts -->
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
        <!--Angular -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.2/angular.min.js"></script>
        <!-- Firebase -->
        <script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
        <!-- AngularFire -->
        <script src="https://cdn.firebase.com/libs/angularfire/0.9.2/angularfire.min.js"></script>
        <script src="js/appgit.js"></script>
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script type="text/javascript">
        var switchTo5x = true;
        </script>
        <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
        <script type="text/javascript">
        stLight.options({
        publisher: "397ecdb4-80d5-4013-9922-2d7c9d615bee",
        doNotHash: false,
        doNotCopy: false,
        hashAddressBar: false
        });
        </script>
        <script type="text/javascript">
        var switchTo5x = true;
        </script>
        <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
        <script type="text/javascript" src="http://s.sharethis.com/loader.js"></script>
    </head>
    <body>
        <!--https://www.siteground.com/tutorials/git/directory.htm-->
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">JMatharu</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>
                            <a href="about.html">About</a>
                        </li>
                        <li>
                            <a href="contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
        <!-- Page Header -->
        <!-- Set your background image for this header on the line below. -->
        <header class="intro-header" style="background-image: url('img/GitTutorial.jpg')">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <div class="post-heading">
                            <h1><font COLOR="FFFB00">GIT Tutorial</font></h1>
                            <h2 class="subheading"><font COLOR="00FF6F">Introduction to GIT and GITHUB</font></h2>
                            <span class="meta"><strong><font COLOR="FFFFFF">Posted by <a href="/">Jagdeep Matharu</a> on September 1, 2015</font></strong></span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content -->
        <article>
            <div class="container ">
                <div class="embed-responsive embed-responsive-16by9">
                    <!-- Ad Code -->
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- Ad2_Git -->
                    <ins class="adsbygoogle"
                    style="display:block"
                    data-ad-client="ca-pub-2883101191514056"
                    data-ad-slot="6882843724"
                    data-ad-format="auto"></ins>
                    <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                    <!-- End Ad Code -->
                    <iframe src="https://docs.google.com/presentation/d/1_PnS7eWIPRF4tjMfjM5GNp4930HBTJ2WboSMfPF7Z-c/embed?start=false&loop=false&delayms=3000 " frameborder="0 " width="900 " height="569 " allowfullscreen="true " mozallowfullscreen="true " webkitallowfullscreen="true "></iframe>
                </div>
                <div class="row ">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 ">
                        <!-- Ad Code -->
                        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                        <!-- Ad1_GIT -->
                        <ins class="adsbygoogle"
                        style="display:block"
                        data-ad-client="ca-pub-2883101191514056"
                        data-ad-slot="5406110522"
                        data-ad-format="auto"></ins>
                        <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                        <!-- End Ad Code -->
                        <h2 class="section-heading " id="install "><span style="color: royalblue; ">How to install GIT on Linux or Mac or Windows</span></h2>
                        <h3><span style="color: darkgreen; ">Installation on LINUX</span></h3>
                        <p>On Linux you can compile the system from source or use commands like the following ones:</p>
                        <p class="well ">
                            <code>$ sudo apt-get update</code>
                            <br>
                            <code>$ sudo apt-get install git</code>
                        </p>
                        <p>This will download and install <code>git</code> to your system. You will still have to complete the configuration steps that we cover in the <a href="#setup ">Setup</a> section</p>
                        <h3><span style="color: darkgreen; ">Installation on MAC</span></h3>
                        <p>Install Git on Mac OSX by getting the latest version from the <a href="https://git-scm.com/downloads ">Git download page</a> or from the direct <a href="https://git-scm.com/download/mac " target="_blank ">OS X latest link</a>.</p>
                        <h3><span style="color: darkgreen; ">Installation on Windows</span></h3>
                        <p>Install Git on Windows by getting the latest version from the <a href="https://git-scm.com/downloads ">Git download page</a> or from the direct <a href="https://git-scm.com/download/win " target="_blank ">Windows latest link</a>.</p>
                        <h3><span style="color: darkgreen; ">GIT Path</span></h3>
                        <p>You need to add the Git install location to your path</p>
                        <h4><span style="color: goldenrod; ">For LINUX and MAC</span></h4>
                        <p>Open your ~/.profile file in a text editor and add this line, where &lt;path/to/git&gt; is the install location for Git:</p>
                        <p class="well "><code>export PATH=$PATH:&lt;path/to/git&gt;</code>
                        </p>
                        <p>You can use the <code>which git</code> command to find the install location for Git.</p>
                        <h4><span style="color: goldenrod; ">For Windows</span></h4>
                        <p>While Installing Git, make ensure that git.exe is available in the path, choose either:</p>
                        <ul>
                            <li><b>Run Git from the Windows Command Prompt</b>, or </li>
                            <li><b>Run Git and included Unix tools from the Windows Command Prompt.</b>
                            </li>
                        </ul>
                        <img class="img-responsive " src="img/msysgit-path.png " alt=" ">
                        <h3><span style="color: darkgreen; ">Check your version of Git</span></h3>
                        <p>You can check your current version of Git by running the <code>git --version</code> command in a terminal (Linux, Mac OS X) or command prompt (Windows).</p>
                        <p>For Example:</p>
                        <p class="well">
                            <code>git --version</code>
                            <br>
                            <code>git version 2.4.1</code>
                        </p>
                        <!-- counter Code START -->
                        <div align=center>
                            <br>
                        <p>Visitor Count <i class="fa fa-hand-o-right"></i> <img src='http://www.counter12.com/img-8595dB6W-25.gif' border='0' alt='free web counter'></a>
                    </p>
                    <script type='text/javascript' src='http://www.counter12.com/ad.js?id=8595dB6W'></script></div>
                    <!--    Comment Part-->
                    <hr>
                    <h2>Comments</h2>
                    <br>
                    <form class="form-horizontal" name="myForm" ng-app="chatApp">
                        <div ng-controller="chatController">
                            <ul>
                                <li ng-repeat="message in messages">
                                    {{message.text}} <small><small>by <b>{{message.user}}</b></small></small>
                                    <!--                                    <br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; {{getDatetime | date:'yyyy-MMM-dd, hh:mm:ss a'}}-->
                                    <hr>
                                </li>
                            </ul>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
                                <div class="col-sm-10">
                                    <input type="text" ng-model="newmessage.user" class="form-control" id="inputEmail3" placeholder="Name" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">Comment</label>
                                <div class="col-sm-10">
                                    <input type="text" ng-model="newmessage.text" class="form-control input-lg" id="inputEmail3" placeholder="Comment" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                                <div class="col-sm-10">
                                    <input type="text" ng-model="newmessage.email" class="form-control" id="inputEmail3" placeholder="Email (Will be kept Private)" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" required>
                                    <span class="error" ng-show="myForm.input.$error.email">Not valid email!</span>
                                </div>
                            </div>
                            <button class="btn btn-success" ng-click="inserisci(newmessage)" ng-disabled="myForm.$invalid">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </article>
    <hr>
    <!-- Footer -->
    <footer>
        <div class="container ">
            <div class="row ">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 ">
                    <ul class="list-inline text-center ">
                        <li>
                            <a href="https://twitter.com/JagdeepSMatharu ">
                                <span class="fa-stack fa-lg ">
                                    <i class="fa fa-circle fa-stack-2x "></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse "></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/pub/jagdeep-matharu/74/ab7/156 ">
                                <span class="fa-stack fa-lg ">
                                    <i class="fa fa-circle fa-stack-2x "></i>
                                    <i class="fa fa-linkedin fa-stack-1x fa-inverse "></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/JagDeepSingh7 ">
                                <span class="fa-stack fa-lg ">
                                    <i class="fa fa-circle fa-stack-2x "></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse "></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/jmatharu ">
                                <span class="fa-stack fa-lg ">
                                    <i class="fa fa-circle fa-stack-2x "></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse "></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted ">Copyright &copy;
                        <a href="/ ">Jagdeep Matharu</a> 2015</p>
                    </div>
                </div>
                <br>
                <div class="container text-center">
                    <span class='st_sharethis_large' displayText='ShareThis'></span>
                    <span class='st_facebook_large' displayText='Facebook'></span>
                    <span class='st_twitter_large' displayText='Tweet'></span>
                    <span class='st_googleplus_large' displayText='Google +'></span>
                    <span class='st_linkedin_large' displayText='LinkedIn'></span>
                    <span class='st_evernote_large' displayText='Evernote'></span>
                    <span class='st_pinterest_large' displayText='Pinterest'></span>
                    <span class='st_blogger_large' displayText='Blogger'></span>
                    <span class='st_email_large' displayText='Email'></span>
                    <span class='st_whatsapp_large' displayText='WhatsApp'></span>
                    <span class='st_tumblr_large' displayText='Tumblr'></span>
                    <span class='st_flipboard_large' displayText='Flipboard'></span>
                </div>
            </div>
        </footer>
        <!-- jQuery -->
        <script src="js/jquery.js "></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js "></script>
        <!-- Custom Theme JavaScript -->
        <script src="js/clean-blog.min.js "></script>
        <script type="text/javascript">
        stLight.options({
        publisher: "397ecdb4-80d5-4013-9922-2d7c9d615bee",
        doNotHash: false,
        doNotCopy: false,
        hashAddressBar: false
        });
        </script>
        <script>
        var options = {
        "publisher": "397ecdb4-80d5-4013-9922-2d7c9d615bee",
        "position": "left",
        "ad": {
        "visible": false,
        "openDelay": 5,
        "closeDelay": 0
        },
        "chicklets": {
        "items": ["facebook", "twitter", "linkedin", "googleplus", "blogger", "pinterest", "email", "sharethis", "evernote"]
        }
        };
        var st_hover_widget = new sharethis.widgets.hoverbuttons(options);
        </script>
    </body>
</html>